<!DOCTYPE html>
<html>
<head>
  <title>台鐵時刻表查詢</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../bower_components/material-design-lite/material.min.css">
  <!-- <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css"> -->
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../bower_components/angular-date-picker/angular-date-picker.css">
  <script src="../bower_components/material-design-lite/material.min.js"></script>
  <!-- <script src="../bower_components/materialize/dist/js/materialize.min.js"></script> -->
  <script src="../bower_components/angularjs/angular.min.js"></script>
  <script src="../bower_components/angular-date-picker/angular-date-picker.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body ng-app="app" ng-controller="TimetableCtrl">

  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">台鐵時刻表</span>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content mdl-grid">

        <form ng-submit="process_query()" class="mdl-cell mdl-cell--4-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="searchtype"ng-model="query.searchtype">
            <label class="mdl-textfield__label" for="searchtype">類別</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="searchdate" ng-model="query.searchdate">
            <label class="mdl-textfield__label" for="searchdate">日期</label>
            <date-picker ng-model="query.searchdate" format-date="format_date" ></date-picker>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="fromstation"ng-model="query.fromstation">
            <label class="mdl-textfield__label" for="sample1">起站</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="tostation" ng-model="query.tostation">
            <label class="mdl-textfield__label" for="sample1">終點站</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="trainclass" ng-model="query.trainclass">
            <label class="mdl-textfield__label" for="sample1">列車級別</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="fromtime" ng-model="query.fromtime">
            <label class="mdl-textfield__label" for="sample1">起始時間</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="totime" ng-model="query.totime">
            <label class="mdl-textfield__label" for="sample1">結束時間</label>
          </div>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">查詢</button>
        </form>

        {% raw %}
        <div class="mdl-cell mdl-cell--8-col">
          <!-- <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"> -->
          <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th>車次</th>
                <th class="mdl-data-table__cell--non-numeric">車種</th>
                <th>發車時間</th>
                <th>抵達時間</th>
                <th>旅途時間</th>
                <th>價格</th>
                <th class="mdl-data-table__cell--non-numeric">路線</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="r in results">
                <td>{{r.train_code}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{r.train_type}}</td>
                <td>{{r.launch_time}}</td>
                <td>{{r.arrive_time}}</td>
                <td>{{r.duration}}</td>
                <td>{{r.price}}</td>
                <td>{{r.route}}({{r.versa}}線)</td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endraw %}

      </div>
    </main>
  </div>


<script type="text/javascript">
var app = angular.module("app", ['mp.datePicker']);

app.controller("TimetableCtrl", function($scope, $http) {
  $scope.query = {};
  $scope.query.searchtype = 0;
  $scope.query.searchdate = '2015/07/09';
  $scope.query.fromstation = 1317;
  $scope.query.tostation = 1025;
  $scope.query.trainclass = 2;
  $scope.query.fromtime = '0000';
  $scope.query.totime = '2359';

  $scope.process_query = function(argument) {
    $http({
      method  : 'POST',
      url     : '/q',
      data    : $.param($scope.query),
      headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
    })
    .success(function(data) {
      console.log(data);
      $scope.results = data;
    });
  }

  $scope.format_date = function (date) {
      function pad(n) {
          return n < 10 ? '0' + n : n;
      }

      return date && date.getFullYear()
          + '/' + pad(date.getMonth() + 1)
          + '/' + pad(date.getDate());
  };

});
</script>
</body>
</html>
