<!DOCTYPE html>
<html>
<head>
  <title>台鐵時刻表查詢</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon-96x96.png">

  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <style media="screen">
    .center{margin: 0px auto}
    .short{width: 100px; margin-top: 20px}
    .long{width: 160px}
    .swap_icon{padding: 5px}
    .button_upper{margin-top: -70px; margin-left: 15px}
    .search_div{background-color: #3F51B5; color:#fff;text-align: center}

    .card{
      margin: 0 18px;
      padding: 18px 0;
      border-bottom: #eee 1px solid;
    }
    .card-left{
      width: 50px;
      float: left;
      text-align: center;
    }
    .card-mid{
      width: calc(100% - 90px);
      float: left;
      text-align: center;
    }
    .card-right{
      width: 40px;
      float: right;
      text-align: center;
    }
    .card:after {
      content: '';
      display: block;
      clear: both;
    }
  </style>
</head>
<body ng-app="app" ng-controller="TimetableCtrl">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">台鐵時刻表</span>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">常用路線</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#" ng-click="set_location('新竹', '豐原')">新竹 ↔ 豐原</a>
        <a class="mdl-navigation__link" href="#" ng-click="set_location('台中', '豐原')">台中 ↔ 豐原</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">

        <form ng-submit="process_query()" class="search_div">
          <input class="hidden" type="text" name="searchtype"ng-model="query.searchtype">
          <div class="center">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label short">
              <input class="mdl-textfield__input" type="text" name="fromstation"ng-model="query.fromstation">
              <label class="mdl-textfield__label" style="color:#ddd" for="fromstation">起站</label>
            </div>
            <span class="swap_icon">
              <a href="#" ng-click="swap()"><i class="material-icons">swap_horiz</i></a>
            </span>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label short">
              <input class="mdl-textfield__input" type="text" name="tostation" ng-model="query.tostation">
              <label class="mdl-textfield__label" style="color:#ddd" for="tostation">迄站</label>
            </div>
          </div>
          <div class="center">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label long">
              <input class="mdl-textfield__input" type="text" name="searchdate" ng-model="query.searchdate">
              <label class="mdl-textfield__label" style="color:#ddd" for="searchdate">日期</label>
              <date-picker ng-model="query.searchdate" format-date="format_date" class="hidden"></date-picker>
            </div>

            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect button_upper">查詢</button>
          </div>
        </form>

        {% raw %}
        <div ng-repeat="r in results" class="card center">
          <div class="card-left center">
            <span>{{r.train_code}}</span><br>
            <span>{{r.train_type}}</span>
          </div>
          <div class="card-mid">
            <span>{{r.launch_time}} ~ {{r.arrive_time}}</span><br>
            <span>{{r.route}} [{{r.versa}}]</span>
          </div>
          <div class="card-right">
            <a ng-show="r.order_url!='#'" href="{{r.order_url}}">{{r.price}}</a>
            <span ng-show="r.order_url=='#'">{{r.price}}</span>
          </div>
        </div>
        {% endraw %}
      </div>

    </main>
  </div>


<script type="text/javascript">
var app = angular.module("app", []);

app.controller("TimetableCtrl", function($scope, $http) {
  $scope.query = {};
  $scope.query.searchtype = 0;
  $scope.query.searchdate = format_date(new Date());
  $scope.query.fromstation = '新竹';
  $scope.query.tostation = '豐原';
  $scope.query.trainclass = 2;
  $scope.query.fromtime = '0000';
  $scope.query.totime = '2359';

  $scope.process_query = function(argument) {
    $http({
      method  : 'POST',
      url     : '/q',
      data    : $.param($scope.query),
      headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
    })
    .success(function(data) {
      $scope.results = data;
    });
  }

  $scope.set_location = function(from, to) {
    $scope.query.fromstation = from;
    $scope.query.tostation = to;
  }

  $scope.swap = function() {
    var tmp = $scope.query.tostation;
    $scope.query.tostation = $scope.query.fromstation;
    $scope.query.fromstation = tmp;
  };

  $scope.format_date = format_date;
  function format_date(date) {
    function pad(n) {
        return n < 10 ? '0' + n : n;
    }
    return date && date.getFullYear()
        + '/' + pad(date.getMonth() + 1)
        + '/' + pad(date.getDate());
  };

});
</script>
</body>
</html>
